<div class="stopwatch-container">
  <div class="stopwatch-title">
    <h1>Stopwatch</h1>
  </div>
  <div class="stopwatch-time">
    <span>{{time.hours}}</span>
    <span>:</span>
    <span>{{time.minutes}}</span>
    <span>:</span>
    <span>{{time.seconds}}</span>
  </div>
  <div class="stopwatch-control-bar">
    <button class="stopwatch-button start" (click)="onClickBegin()">{{ isStarted ? "Stop" : "Start" }}</button>
    <button #stopwatchWaitButton class="stopwatch-button" >Wait</button>
    <button class="stopwatch-button" (click)="onClickReset()">Reset</button>
  </div>
</div>
